<!DOCTYPE html>
<html>
  <head>
    <title>Correct!</title>
    <!-- Wait 1 second, then go to /test -->
    <meta http-equiv="refresh" content="1;url={{ url_for('test_page') }}">
    <style>
      body {
        margin: 0;
        background: #0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: sans-serif;
      }
      h1 {
        font-size: 4rem;
        color: #000;
      }
    </style>
  </head>
  <body>
    <h1>Correct!</h1>
  </body>
</html>
